* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#nav-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(7, 5, 5, 0.37);
  height: 80px;
  width: 100%;
  z-index: 50;
  padding: 4px 30px;
}
#nav-home img {
  height: 30px;
  width: 150px;
}
#icons-home {
  display: flex;
}
.ul-home {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  gap: 25px;
  font-size: 15px;
  cursor: pointer;
}
#support-home .ul-home {
  gap: 50px;
}
#support-home .ul-home li:hover,
#info-home .ul-home li:hover {
  text-decoration: underline;
  text-decoration-color: chartreuse;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  color: white;
}

#info-home .ul-home li:not(:hover) {
  color: gray;
}
#menu-home {
  display: none;
}
#hero-home {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}
#hero-home img {
  height: 680.6px;
  width: 100%;
  object-fit: cover;
}

#text-home {
  z-index: 10;
  position: absolute;
  top: 17%;
  left: 7%;
  text-align: left;
  font-size: 30px;
  width: 280px;
}
#text-home span {
  color: chartreuse;
}

#p-home {
  position: absolute;
  font-size: 20px;
  top: 62%;
  z-index: 10;
  left: 7%;
}
#button-home {
  position: absolute;
  top: 70%;
  left: 7%;
  z-index: 10;
  border-radius: 30px;
  padding: 10px 20px;
  overflow: none;
  border: none;
  background-color: rgba(144, 180, 90, 0.825);
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

/* Media Queries for phones */
@media only screen and (max-width: 600px) {
  #globe-home {
    display: none;
  }
  #menu-home {
    display: contents;
  }
  #hero-home img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #info-home,
  #support-home {
    display: none;
  }
  #text-home {
    font-size: 15px;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: left;
    padding-left: 20px;
  }
  #p-home {
    display: none;
  }
  #button-home {
    top: 80%;
    padding: 0;
    left: 30%;
    height: fit-content;
    padding: 7px 20px;
    background-color: rgba(0, 0, 0, 0.517);
    border-radius: 40px;
  }
}

/* Media Queries for tablets */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #hero-home img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
  #support-home {
    display: none;
  }
  #globe-home {
    display: none;
  }
  #menu-home {
    display: contents;
  }
  #text-home {
    top: 14%;
    left: 5%;
    height: fit-content;
  }
  #p-home {
    margin-top: 10px;
    left: 5%;
    width: 250px;
  }
  #button-home {
    top: 80%;
    left: 5%;
  }
}
