* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#loader{
  position: relative;
  height: 100vh;
  width: 100vw;
}

#loaderContainer{
  height: 95%;
  width: 95%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 40px;
  /* border: 10px solid rgb(73, 73, 73); */
  overflow: hidden;
}

#logoContainer{
  /* background-color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* z-index: 2; */
}

#loaderVideo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* z-index: 1; */
  /* visibility: hidden; */
}

/* #loaderContainer video::-webkit-media-controls {
  display: none !important;
}
#loaderContainer video::-moz-media-controls {
  display: none !important;
}
#loaderContainer video::-ms-media-controls {
  display: none !important;
}
#loaderContainer video::-o-media-controls {
  display: none !important;
}
#loaderContainer video {
  width: 0;
  height: 0;
} */

