* {
<<<<<<< HEAD
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   height: 100%;
   width: 100%;
   background-color: black;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   color: white;
 }

 .shopnow-container{
  margin-top: 50px;
  width: 1400px;
  height: 1117px;
 }
 .header{
  margin-left: 55px;
  font-size: 70px;
  border-bottom: 2px solid gray;
  display: inline-block;

 }
 .shopnow-container span{
  color: chartreuse;
 }
 .shopnow-content{
  width: 100vw;
  margin-top: 40px;
  height: fit-content;
  display: flex;
  gap: 20px;
 }
 .shopnow-left{
  width: 60%;
  height: 689px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .shopnow-right{
  position: relative;
  width: 35%;
  height: 689px;
  border: 7px solid #818181;
  border-radius: 30px  ;
 }
 .right-img{
  padding: 20px;
  width: 100%;
  height: 50%;
 }
 .right-text{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
 }
 .right-text h5{
  font-size: 15px;
  font-weight: 500;
  color: #7D7D7D;
 }
 .right-text h1{
  font-size: 48px;
  font-weight: 48px;
 }
 .right-text p{
  font-size: 20px;
  font-weight: 400;
  color: #AFAFAF;
 }
 .right-button{
  margin-top: 30px;
  width: 149px;
  height: 38.64px;
 }
 .right-button button img{
  height: 15px;
 }
 .right-button button{
  border: none;
  background-color: #A8FF0080;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 33.12px;
  font-size: 15px;
  gap: 5px;
  color: white;
 }
 .right-buy{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5%;
  top: 40%;
  height: 108px;
  width: 108px;
 }
 .right-buy button{
  font-size: 20px;
  font-weight: 400;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 30px 30px;
  background-color: #7EBF00;
 }
 .left-top{
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .top-one, .top-two{
  position: relative;
  border: 7px solid #818181;
  width: 47%;
  height: 420px;
  border-radius: 30px;
 }
 .one-img  {
  height: 55%;
  width: 100%;
}
.one-img img, .two-img img, .bottom-img img, .right-img img{
  border-radius: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
 }
 .one-text, .two-text{
  padding-left: 15px;
 }
 .one-text h5, .two-text h5, .bottom-text h5{
    font-size: 15px;
    font-weight: 500;
    color: #7D7D7D;
 }
 .one-text h1, .two-text h1, .bottom-text h1{
  font-size: 40px;
  font-weight: 700;
 }
 .one-text p, .two-text p, .bottom-text p{
  font-size: 13px;
  font-weight: 400;
  color: #AFAFAF;
  width: 100%;
 }
 .one-button{
  width: 79px;
  height: 25.65px;
  margin-top: 10px;
 }
 .one-button img{
  height: 8px;
 }
 .one-button button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 8.14px;
  border-radius: 21.99px;
  border: none;
  color: white;
  padding: 10px 6px;
  cursor: pointer;
  background-color: #A8FF0080;
 }
 .one-buy{
  position: absolute;
  right: 0px;
  top: 50%;
  width: 102px;
  height: 102px;
 }
 .one-buy button, .bottom-buy button{
  font-size: 12.91px;
  font-weight: 400;
  color: white;
  background-color: #7EBF00;
  border: none;
  border-radius: 50%;
  padding: 25px 25px;
  cursor: pointer;
 }
 .two-img{
  margin-top: 30px;
  width: 90%;
  height: 40%;
 }
 .two-text{
  margin-top: 30px;
 }
 .two-text p{
  width: 301px;
 }
 .left-bottom{
  position: relative;
  width: 90%;
  height: 200px;
  border: 7px solid #818181;
  border-radius: 60px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .bottom-text{
  margin-left: 20px;
  width: 50%;
 }
 .bottom-text p{
  width: 90%;
 }
 .bottom-img{
  padding: 10px;
    height: 100%;
    width: 279px;
 }
 .bottom-buy{
  position: absolute;
  bottom: 7%;
  left: 50%;
  width: fit-content;
  height: fit-content;
 }
 .shopbutton{
  margin-top: 90px;
  margin-left: 55px;
  display: flex;
  width: 329px;
  height: 78px;
  position: absolute;
  right:40px;
 }
 .shopbutton button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 32px;
  font-weight: 400;
  color: white;
  background-color: #A8FF0080;
  border-radius: 80px;
  border: none;
  padding: 17px 65px;
  cursor: pointer;
 }
 button:hover{
  background-color: #aaff009a ;
 }

 @media only screen and (max-width: 600px) {
  .shopnow-container{
     width: 430px;
     height: fit-content;
  }
  .shopnow-container h1{
     font-size: 32.65px;
     width: 78px;
     height: 96px;
     line-height: 48px;
  }
  .shopnow-content{
   flex-direction:column-reverse;
   gap: 0px;
   margin-left: 0px;
   margin-top: 30px;
  }
  .shopnow-left{
     width: 430px;
     height: fit-content;
     margin-top: 40px;
     justify-content: space-evenly;
  }
  .left-top{
     justify-content: space-around;
  }
  .shopnow-right{
     border: 3px solid #818181;
     width: 318.37px;
     height: 326.91px;
     margin-left: 52px;
  }
  .right-img{
     margin-left: 10px;
     margin-top: 10px;
     padding: 0px;
     width: 282.79px;
     height: 152.31px;
  }
  .right-img img{
     height: 98%;
    border-radius: 14.23px;
  }
  .right-text h5{
     font-size: 7.12px;
    }
    .right-text h1{
     font-size: 22.77px;
     height: 33px;
     display: flex;
     align-items: center;
     width: 186px;
    }
    .right-text p{
     font-size: 9.49px;
     width: 262px;
    }
    .right-button{
     margin-top: 10px;
     height: fit-content;
     width: fit-content;
    }
    .right-button img{
     height: 5.82px;
    }
    .right-button button{
     padding: 2px 5px;
     font-size: 5.82px;
     border-radius: 8.18px;
    }
    .right-buy{
     width: 74.97px;
     height: 74.97px;
    }
    .right-buy button{
     padding: 25px 24px;
     font-size: 9.49px;
    }
  .top-one{
     border: 3px solid #818181;
     height: 150.62px;
     width: 150.62px;
  }
  .one-img, .two-img{
     height: 79.23px;
     width: 129.45px;
  }
  .one-text, .two-text {
     padding-left: 8px;
  }
  .one-text h5, .two-text h5{
     font-size: 5.58px;
  }
  .one-text h1, .two-text h1{
     font-size: 14.88px;
     height: 22px;
     display: flex;
     align-items: center;
     padding: 0px 0px;
  }
  .one-text p, .two-text p{
     width: 130px;
     font-size: 4.84px;
  }
  .one-button{
     margin-top: 0px;
  }
  .one-button button{
     gap: 1px;
     padding: 2px 3px;
     border-radius: 8.18px;
     font-size: 3.03px;
     margin-top: 3px;
  }
  .one-button img{
     height: 3.03px;
  }
  .one-buy{
     position: absolute;
     right: 7px;
     top: 50%;
     width: 37.94px;
     height: 37.94px;
    }
  .one-buy button{
    padding: 10px 10px;
    font-size: 4.8px;
  }
  .two-img{
     margin: 0px 0px;
  }
  .top-two{
     border: 3px solid #818181;
     width: 150.42px;
     height: 150.42px;
  }
  .two-text{
     margin-top: 0px;
    }
  .left-bottom{
     border: 3px solid #818181;
     margin-top: 50px;
     width: 370.71px;
     height: 102.86px;
     margin-left: 30px;
  }
  .bottom-text{
     padding-top: 15px;
  }
  .bottom-text h5{
     font-size: 6.43px;
  }
  .bottom-text h1{
     font-size: 17.14px;
     height: 22px;
     display: flex;
     align-items: center;
     padding: 0px 0px;
  }
  .bottom-text p{
     font-size: 6.57px;
  }
  .bottom-text .one-button{
     margin-top: 1px;
  }
  .bottom-img{
     width: 119.57px;
     height: 88.29px;
  }
  .bottom-img img{
     border-radius: 12.86px;
  }
  .bottom-buy{
     position: absolute;
     bottom: 7%;
     left: 61%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 43.71px;
     width: 43.71px;
  }
  .bottom-buy button{
     padding: 10px 10px;
     font-size: 5.53px;
  }
  .shopbutton{
     display: none;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
 
  .shopnow-container{
     width: 100%;
     height: fit-content;
  }
  .shopnow-container h1{
     font-size: 52.65px;
     height: 96px;
     line-height: 48px;
  }
  .shopnow-content{
   flex-direction:column-reverse;
   gap: 0px;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
  }
  .shopnow-left{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 40px;
     margin-top: 20px;
     width: 100vw;
  }
  .left-top{
     width: 90%;
     justify-content: space-between;
  }
  .left-top h1, .left-bottom h1{
     height: fit-content;
  }
  .shopnow-right{
     border: 3px solid #818181;
     width: 80%;
     height: 80%px;
     margin-left: 52px;
  }
  .right-img{
     margin-left: 20px;
     margin-top: 10px;
     padding: 0px;
     width: 90%;
     height: 50%;
  }
  .right-img img{
     height: 98%;
    border-radius: 34.23px;
  }
  .right-text{
     margin-top: 20px;
  }
  .right-text h5{
     font-size: 27.12px;
    }
    .right-text h1{
     font-size: 52.77px;
     height: fit-content;
    }
    .right-text p{
     font-size: 19.49px;
     width: 85%;
    }
    .right-button{
     margin-top: 30px;
     gap: 3px;
     height: fit-content;
     width: fit-content;
    }
    .right-button img{
     height: 25.82px;
    }
    .right-button button{
     padding: 12px 15px;
     font-size: 25.82px;
     border-radius: 38.18px;
    }
    .right-buy{
     right: 30px;
    }
    .right-buy button{
     padding: 30px 30px;
     font-size: 29.49px;
    }
    .shopbutton{
     display: none;
  }  
  
}
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

  .shopnow-container{
   margin-top: 50px;
   width: 100vw;
   height: 1117px;
  }
  .header{
   margin-left: 55px;
   font-size: 96px;
  }
  .shopnow-container span{
   color: chartreuse;
  }
  .shopnow-content{
   width: 100vw;
   margin-top: 40px;
   height: fit-content;
   display: flex;
   gap: 20px;
  }
  .shopnow-left{
   width: 60%;
   height: 689px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
  .shopnow-right{
   position: relative;
   width: 35%;
   height: 689px;
   border: 7px solid #818181;
   border-radius: 30px  ;
  }
  .right-img{
   padding: 20px;
   width: 100%;
   height: 50%;
  }
  .right-text{
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 10px;
   margin-top: 10px;
  }
  .right-text h5{
   font-size: 15px;
   font-weight: 500;
   color: #7D7D7D;
  }
  .right-text h1{
   font-size: 48px;
   font-weight: 48px;
  }
  .right-text p{
   font-size: 20px;
   font-weight: 400;
   color: #AFAFAF;
  }
  .right-button{
   margin-top: 30px;
   width: 149px;
   height: 38.64px;
  }
  .right-button button img{
   height: 15px;
  }
  .right-button button{
   border: none;
   background-color: #A8FF0080;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 10px;
   border-radius: 33.12px;
   font-size: 15px;
   gap: 5px;
   color: white;
  }
  .right-buy{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 5%;
   top: 40%;
   height: 108px;
   width: 108px;
  }
  .right-buy button{
   font-size: 20px;
   font-weight: 400;
   color: white;
   border-radius: 50%;
   border: none;
   padding: 30px 30px;
   background-color: #7EBF00;
  }
  .left-top{
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  .top-one, .top-two{
   position: relative;
   border: 7px solid #818181;
   width: 47%;
   height: 420px;
   border-radius: 30px;
  }
  .one-img  {
   height: 55%;
   width: 100%;
}
.one-img img, .two-img img, .bottom-img img, .right-img img{
   border-radius: 40px;
   width: 100%;
   height: 100%;
   cursor: pointer;
  }
  .one-text, .two-text{
   padding-left: 15px;
  }
  .one-text h5, .two-text h5, .bottom-text h5{
     font-size: 15px;
     font-weight: 500;
     color: #7D7D7D;
  }
  .one-text h1, .two-text h1, .bottom-text h1{
   font-size: 40px;
   font-weight: 700;
  }
  .one-text p, .two-text p, .bottom-text p{
   font-size: 13px;
   font-weight: 400;
   color: #AFAFAF;
   width: 100%;
  }
  .one-button{
   width: 79px;
   height: 25.65px;
   margin-top: 10px;
  }
  .one-button img{
   height: 8px;
  }
  .one-button button{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3px;
   font-size: 8.14px;
   border-radius: 21.99px;
   border: none;
   color: white;
   padding: 10px 6px;
   cursor: pointer;
   background-color: #A8FF0080;
  }
  .one-buy{
   position: absolute;
   right: 0px;
   top: 50%;
   width: 102px;
   height: 102px;
  }
  .one-buy button, .bottom-buy button{
   font-size: 12.91px;
   font-weight: 400;
   color: white;
   background-color: #7EBF00;
   border: none;
   border-radius: 50%;
   padding: 25px 25px;
   cursor: pointer;
  }
  .two-img{
   margin-top: 30px;
   width: 90%;
   height: 40%;
  }
  .two-text{
   margin-top: 30px;
  }
  .two-text p{
   width: 301px;
  }
  .left-bottom{
   position: relative;
   width: 90%;
   height: 200px;
   border: 7px solid #818181;
   border-radius: 60px;
   margin-left: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  .bottom-text{
   margin-left: 20px;
   width: 50%;
  }
  .bottom-text p{
   width: 90%;
  }
  .bottom-img{
   padding: 10px;
     height: 100%;
     width: 279px;
  }
  .bottom-buy{
   position: absolute;
   bottom: 7%;
   left: 50%;
   width: fit-content;
   height: fit-content;
  }
  .shopbutton{
   margin-top: 90px;
   margin-left: 55px;
   display: flex;
   width: 329px;
   height: 78px;
   position: absolute;
   right:40px;
  }
  .shopbutton button{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   font-size: 32px;
   font-weight: 400;
   color: white;
   background-color: #A8FF0080;
   border-radius: 80px;
   border: none;
   padding: 17px 65px;
   cursor: pointer;
  }
  button:hover{
   background-color: #aaff009a ;
  }

  @media only screen and (max-width: 600px) {
   .shopnow-container{
      width: 430px;
      height: fit-content;
   }
   .shopnow-container h1{
      font-size: 32.65px;
      width: 78px;
      height: 96px;
      line-height: 48px;
   }
   .shopnow-content{
    flex-direction:column-reverse;
    gap: 0px;
    margin-left: 0px;
    margin-top: 30px;
   }
   .shopnow-left{
      width: 430px;
      height: fit-content;
      margin-top: 40px;
      justify-content: space-evenly;
   }
   .left-top{
      justify-content: space-around;
   }
   .shopnow-right{
      border: 3px solid #818181;
      width: 318.37px;
      height: 326.91px;
      margin-left: 52px;
   }
   .right-img{
      margin-left: 10px;
      margin-top: 10px;
      padding: 0px;
      width: 282.79px;
      height: 152.31px;
   }
   .right-img img{
      height: 98%;
     border-radius: 14.23px;
   }
   .right-text h5{
      font-size: 7.12px;
     }
     .right-text h1{
      font-size: 22.77px;
      height: 33px;
      display: flex;
      align-items: center;
      width: 186px;
     }
     .right-text p{
      font-size: 9.49px;
      width: 262px;
     }
     .right-button{
      margin-top: 10px;
      height: fit-content;
      width: fit-content;
     }
     .right-button img{
      height: 5.82px;
     }
     .right-button button{
      padding: 2px 5px;
      font-size: 5.82px;
      border-radius: 8.18px;
     }
     .right-buy{
      width: 74.97px;
      height: 74.97px;
     }
     .right-buy button{
      padding: 25px 24px;
      font-size: 9.49px;
     }
   .top-one{
      border: 3px solid #818181;
      height: 150.62px;
      width: 150.62px;
   }
   .one-img, .two-img{
      height: 79.23px;
      width: 129.45px;
   }
   .one-text, .two-text {
      padding-left: 8px;
   }
   .one-text h5, .two-text h5{
      font-size: 5.58px;
   }
   .one-text h1, .two-text h1{
      font-size: 14.88px;
      height: 22px;
      display: flex;
      align-items: center;
      padding: 0px 0px;
   }
   .one-text p, .two-text p{
      width: 130px;
      font-size: 4.84px;
   }
   .one-button{
      margin-top: 0px;
   }
   .one-button button{
      gap: 1px;
      padding: 2px 3px;
      border-radius: 8.18px;
      font-size: 3.03px;
      margin-top: 3px;
   }
   .one-button img{
      height: 3.03px;
   }
   .one-buy{
      position: absolute;
      right: 7px;
      top: 50%;
      width: 37.94px;
      height: 37.94px;
     }
   .one-buy button{
     padding: 10px 10px;
     font-size: 4.8px;
   }
   .two-img{
      margin: 0px 0px;
   }
   .top-two{
      border: 3px solid #818181;
      width: 150.42px;
      height: 150.42px;
   }
   .two-text{
      margin-top: 0px;
     }
   .left-bottom{
      border: 3px solid #818181;
      margin-top: 50px;
      width: 370.71px;
      height: 102.86px;
      margin-left: 30px;
   }
   .bottom-text{
      padding-top: 15px;
   }
   .bottom-text h5{
      font-size: 6.43px;
   }
   .bottom-text h1{
      font-size: 17.14px;
      height: 22px;
      display: flex;
      align-items: center;
      padding: 0px 0px;
   }
   .bottom-text p{
      font-size: 6.57px;
   }
   .bottom-text .one-button{
      margin-top: 1px;
   }
   .bottom-img{
      width: 119.57px;
      height: 88.29px;
   }
   .bottom-img img{
      border-radius: 12.86px;
   }
   .bottom-buy{
      position: absolute;
      bottom: 7%;
      left: 61%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 43.71px;
      width: 43.71px;
   }
   .bottom-buy button{
      padding: 10px 10px;
      font-size: 5.53px;
   }
   .shopbutton{
      display: none;
   }
   
}

@media (min-width: 768px) and (max-width: 1024px) {
  
   .shopnow-container{
      width: 100%;
      height: fit-content;
   }
   .shopnow-container h1{
      font-size: 52.65px;
      height: 96px;
      line-height: 48px;
   }
   .shopnow-content{
    flex-direction:column-reverse;
    gap: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
   }
   .shopnow-left{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      margin-top: 20px;
      width: 100vw;
   }
   .left-top{
      width: 90%;
      justify-content: space-between;
   }
   .left-top h1, .left-bottom h1{
      height: fit-content;
   }
   .shopnow-right{
      border: 3px solid #818181;
      width: 80%;
      height: 80%px;
      margin-left: 52px;
   }
   .right-img{
      margin-left: 20px;
      margin-top: 10px;
      padding: 0px;
      width: 90%;
      height: 50%;
   }
   .right-img img{
      height: 98%;
     border-radius: 34.23px;
   }
   .right-text{
      margin-top: 20px;
   }
   .right-text h5{
      font-size: 27.12px;
     }
     .right-text h1{
      font-size: 52.77px;
      height: fit-content;
     }
     .right-text p{
      font-size: 19.49px;
      width: 85%;
     }
     .right-button{
      margin-top: 30px;
      gap: 3px;
      height: fit-content;
      width: fit-content;
     }
     .right-button img{
      height: 25.82px;
     }
     .right-button button{
      padding: 12px 15px;
      font-size: 25.82px;
      border-radius: 38.18px;
     }
     .right-buy{
      right: 30px;
     }
     .right-buy button{
      padding: 30px 30px;
      font-size: 29.49px;
     }
     .shopbutton{
      display: none;
   }  
   
 }
>>>>>>> 95d8b8df02adb1f999f9ffcf2011086db898fc6a
