@font-face {
  font-family: HNTBold;
  src: url(./resources/helvetica-now-font-family-1719558278-0/helveticanowtext-bold-demo.ttf);
}

@font-face {
  font-family: Sebino;
  src: url(./resources/Sebino-Font/Sebino-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#main {
  display: none;
}

#loader {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#loaderContainer {
  height: 95%;
  width: 95%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  /* border: 10px solid rgb(73, 73, 73); */
  overflow: hidden;
}

#logoContainer {
  /* background-color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
}

#loaderVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* z-index: 1; */
  /* visibility: hidden; */
}

.page {
  /* height: 100vh; */
  width: 100%;
  background-color: #000;
}

.pgContainer {
  width: 1400px;
  margin: 0px auto;
  padding: 0px 50px 0px 60px;
}

#page1 {
  background-color: #fff;
}
#nav-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(7, 5, 5, 0.37);
  height: 80px;
  width: 100%;
  z-index: 50;
  padding: 4px 30px;
}
#nav-home img {
  height: 30px;
  width: 150px;
}
#icons-home {
  display: flex;
}
.ul-home {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  gap: 25px;
  font-size: 15px;
  cursor: pointer;
}
#support-home .ul-home {
  gap: 50px;
}
#support-home .ul-home li:hover,
#info-home .ul-home li:hover {
  text-decoration: underline;
  text-decoration-color: chartreuse;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  color: white;
}

#info-home .ul-home li:not(:hover) {
  color: gray;
}
#menu-home {
  display: none;
}
#hero-home {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}
#hero-home img {
  height: 680.6px;
  width: 100%;
  object-fit: cover;
}

#text-home {
  z-index: 10;
  position: absolute;
  top: 17%;
  left: 7%;
  text-align: left;
  font-size: 30px;
  width: 280px;
}
#text-home span {
  color: chartreuse;
}

#p-home {
  position: absolute;
  font-size: 20px;
  top: 62%;
  z-index: 10;
  left: 7%;
}
#button-home {
  position: absolute;
  top: 70%;
  left: 7%;
  z-index: 10;
  border-radius: 30px;
  padding: 10px 20px;
  overflow: none;
  border: none;
  background-color: rgba(144, 180, 90, 0.825);
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

/* Media Queries for phones */
@media only screen and (max-width: 600px) {
  #globe-home {
    display: none;
  }
  #menu-home {
    display: contents;
  }
  #hero-home img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #info-home,
  #support-home {
    display: none;
  }
  #text-home {
    font-size: 15px;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: left;
    padding-left: 20px;
  }
  #p-home {
    display: none;
  }
  #button-home {
    top: 80%;
    padding: 0;
    left: 30%;
    height: fit-content;
    padding: 7px 20px;
    background-color: rgba(0, 0, 0, 0.517);
    border-radius: 40px;
  }
}

/* Media Queries for tablets */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #hero-home img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
  #support-home {
    display: none;
  }
  #globe-home {
    display: none;
  }
  #menu-home {
    display: contents;
  }
  #text-home {
    top: 14%;
    left: 5%;
    height: fit-content;
  }
  #p-home {
    margin-top: 10px;
    left: 5%;
    width: 250px;
  }
  #button-home {
    top: 80%;
    left: 5%;
  }
}

/* page2 */

#page2 {
  /* height: 115vh; */
  overflow: hidden;
  padding-top: 30px;
}

#page2Heading {
  color: white;
  font-size: 70px;
  font-family: HNTBold;
  font-weight: 500;
  border-bottom: 2px solid gray;
  display: inline-block;
}

.cardContainer {
  margin-top: 30px;
  display: grid;
  color: white;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 90px);
  /* height: calc(100vh - 135px); */
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  gap: 30px;
}

.cardContainer2 {
  display: none;
}

.cardItem {
  position: relative;
  width: 97%;
}

#cardItem-1 {
  /* grid-column-start: 1; */
  grid-column: 1/4;
  background-size: cover;
  /* grid-row-start: 1; */
  grid-row: 1/4;
}

#cardItem-2 {
  /* grid-column-start: 4; */
  grid-column: 4/7;
  /* grid-row-start: 1; */
  grid-row: 1/4;
}

#cardItem-3 {
  /* grid-column-start: 7; */
  grid-column: 7/12;
  /* grid-row-start: 1; */
  grid-row: 1/6;
  border: 7px solid gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
}

#cardItem-4 {
  /* grid-column-start: 1; */
  grid-column: 1/7;
  grid-row: 4/6;
  /* border: 7px solid gray;
  border-radius: 30px;
  overflow: hidden; */
}

.cardItem img {
  width: 100px;
  height: 100px;
}

#cardImg-1 {
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: scaleX(-1); */
}

.cardSubheading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #7d7d7d;
  letter-spacing: 0.7px;
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 40px;
}

.cardHeading {
  font-family: HNTBold;
  position: absolute;
  top: 70px;
  z-index: 1;
  left: 40px;
  font-size: 36.5px;
}

#cardImg-2 {
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: scaleX(-1); */
}

#cardImg-3 {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 200px;
  right: 40px;
  /* position: relative;
  right: 12px; */
}

#cardSubheading-3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #7d7d7d;
  letter-spacing: 0.7px;
  /* position: absolute;
  top: 40px;
  left: 40px; */
  z-index: 1;
  margin-top: 22px;
}

#cardHeading-3 {
  font-family: HNTBold;
  /* position: absolute;
  top: 60px;
  left: 40px; */
  z-index: 1;
  font-size: xx-large;
  margin-top: 5px;
  font-size: 36.5px;
}

#cardText-3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #afafaf;
  width: 85%;
  /* position: absolute;
  top: 110px;
  left: 40px; */
  margin-top: 12px;
  letter-spacing: 0.7px;
}

#cardButton-3 {
  height: 30px;
  width: 100px;
  background-color: #a8ff0080;
  border-radius: 38px;
  outline: none;
  border: none;
  color: white;
  /* position: absolute;
  top:185px;
  left: 40px; */
  font-family: "Inter", sans-serif;
  margin-top: 17px;
  font-weight: 500;
  letter-spacing: 0.55px;
}

#cardImg-4 {
  width: 100%;
  height: 100%;
  /* position: absolute;
  bottom: 40px; */
}

#pgButton-3 {
  height: 50px;
  width: 230px;
  background-color: #a8ff0080;
  border-radius: 38px;
  outline: none;
  border: none;
  color: white;
  /* position: absolute;
  top:185px;
  left: 40px; */
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* float: right; */
  /* margin-right: 20px; */
}

#pgButton-3 h1 {
  font-weight: 800;
  letter-spacing: 0.55px;
  font-size: 33px;
  font-family: HNTBold;
  text-transform: uppercase;
  text-align: center;
}

#pgButton-3 img {
  width: 25px;
  height: 30px;
}

/* page3 */

#page3 {
  margin-top: 60px;
  /* overflow-y: hidden; */
  /* height: 110vh; */
  /* background-color: red; */
}

#page3Heading {
  color: white;
  font-size: 70px;
  font-family: HNTBold;
  font-weight: 500;
  border-bottom: 2px solid gray;
  display: inline-block;
}
.greenText {
  color: #a8ff00;
}

/* .borderBottom {
  height: 4px;
  width: ;
  background-color: gray;
  margin-top: 15px;
  margin-bottom: 30px;
} */

.mySwiper-3 {
  width: 110%;
  /* background-color: rebeccapurple; */
  position: relative;
  right: 70px;
}

.swiper-wrapper-3 {
  gap: 30px;
  margin-bottom: 55px;
  margin-top: 35px;
  /* background-color: red; */
}

.swiper-slide-3 {
  width: 350px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.swiperImgContainer-3 {
  height: 450px;
  width: 350px;
  /* background-color: red; */
  border: 5px solid rgba(107, 107, 107, 0.6);
  border-radius: 30px;
  overflow: hidden;
}

.swiperTextContainer-3 {
  color: #fff;
  left: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.swiperTextContainer-3 h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 7px;
}

.swiperTextContainer-3 h3 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 200;
  width: 343px;
}

.swiper-slide-3 .swiperImgContainer-3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.swiperButton-3 {
  height: 30px;
  width: 100px;
  background-color: #a8ff0080;
  border-radius: 38px;
  outline: none;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 0.55px;
}

#pg3pagination .swiper-pagination-bullet {
  background-color: green;
  border: 2px solid white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: background-color 0.3s;
}

/* page4 */

.shopnow-container {
  /* margin-top: 50px; */
  width: 1400px;
  height: fit-content;
  margin: 50px auto;
}
.header {
  margin-left: 55px;
  font-size: 70px;
  border-bottom: 2px solid gray;
  display: inline-block;
}
.shopnow-container span {
  color: chartreuse;
}
.shopnow-content {
  width: 100%;
  margin-top: 40px;
  height: fit-content;
  display: flex;
  gap: 20px;
}
.shopnow-left {
  width: 60%;
  height: 689px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 40px;
}
.shopnow-right {
  position: relative;
  width: 35%;
  height: 689px;
  border: 7px solid #818181;
  border-radius: 30px;
}
.right-img {
  padding: 20px;
  width: 100%;
  height: 50%;
}
.right-text {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.right-text h5 {
  font-size: 15px;
  font-weight: 500;
  color: #7d7d7d;
}
.right-text h1 {
  font-size: 48px;
  font-weight: 48px;
}
.right-text p {
  font-size: 16px;
  font-weight: 400;
  color: #afafaf;
  height: 70px;
  width: 80%;
}
.right-button {
  margin-top: 30px;
  width: 149px;
  height: 38.64px;
}
.right-button button img {
  height: 15px;
}
.right-button button {
  width: 150px;
  border: none;
  background-color: #a8ff0080;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 33.12px;
  font-size: 15px;
  gap: 5px;
  color: white;
  height: 42px;
}
.right-buy {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5%;
  top: 40%;
  height: 108px;
  width: 108px;
}
.right-buy button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 30px 30px;
  background-color: #7ebf00;
}
.left-top {
  margin-left: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 34.5px;
}
.top-one,
.top-two {
  position: relative;
  border: 7px solid #818181;
  width: 47%;
  height: 420px;
  border-radius: 30px;
}
.one-img {
  height: 55%;
  width: 100%;
}
.one-img img,
.two-img img,
.bottom-img img,
.right-img img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.one-text,
.two-text {
  padding-left: 15px;
}
.one-text h5,
.two-text h5,
.bottom-text h5 {
  font-size: 15px;
  font-weight: 500;
  color: #7d7d7d;
}
.one-text h1,
.two-text h1,
.bottom-text h1 {
  font-size: 40px;
  font-weight: 700;
}
.one-text p,
.two-text p,
.bottom-text p {
  font-size: 13px;
  font-weight: 400;
  color: #afafaf;
  width: 100%;
}
.one-button {
  width: 79px;
  height: 25.65px;
  margin-top: 10px;
}
.one-button img {
  height: 8px;
}
.one-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 10px;
  border-radius: 21.99px;
  border: none;
  color: white;
  padding: 10px 6px;
  cursor: pointer;
  background-color: #a8ff0080;
  width: 100px;
}
.one-buy {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 102px;
  height: 102px;
}
.one-buy button,
.bottom-buy button {
  font-size: 12.91px;
  font-weight: 700;
  color: white;
  background-color: #7ebf00;
  border: none;
  border-radius: 50%;
  padding: 25px 25px;
  cursor: pointer;
}
.two-img {
  margin-top: 30px;
  width: 90%;
  height: 40%;
}
.two-text {
  margin-top: 30px;
}
.two-text p {
  width: 301px;
}
.left-bottom {
  position: relative;
  width: 95%;
  height: 220px;
  border: 7px solid #818181;
  border-radius: 60px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-text {
  margin-left: 20px;
  width: 50%;
}
.bottom-text p {
  width: 90%;
}
.bottom-img {
  padding: 10px;
  height: 100%;
  width: 279px;
}
.bottom-buy {
  position: absolute;
  bottom: 7%;
  left: 50%;
  width: fit-content;
  height: fit-content;
}
#pgButton-4 {
  height: 50px;
  width: 230px;
  background-color: #a8ff0080;
  border-radius: 38px;
  outline: none;
  border: none;
  color: white;
  /* position: absolute;
  top:185px;
  left: 40px; */
  margin-top: 25px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* float: right; */
  /* margin-right: 20px; */
}

#pgButton-4 h1 {
  font-weight: 800;
  letter-spacing: 0.55px;
  font-size: 33px;
  font-family: HNTBold;
  text-transform: uppercase;
  text-align: center;
}

#pgButton-4 img {
  width: 25px;
  height: 30px;
}

/* button:hover {
  background-color: #aaff009a;
} */

@media only screen and (max-width: 600px) {
  .shopnow-container {
    width: 430px;
    height: fit-content;
  }
  .shopnow-container h1 {
    font-size: 50px;
    width: 70%;
  }
  .shopnow-content {
    flex-direction: column-reverse;
    gap: 0px;
    margin-left: 0px;
    margin-top: 30px;
  }
  .shopnow-left {
    width: 430px;
    height: fit-content;
    margin-top: 40px;
    justify-content: space-evenly;
  }
  .left-top {
    margin: auto;
    height: 200px;
  }
  .shopnow-right {
    border: 3px solid #818181;
    width: 318.37px;
    height: 326.91px;
    margin-left: 52px;
  }
  .right-img {
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px;
    width: 282.79px;
    height: 152.31px;
  }
  .right-img img {
    height: 98%;
    border-radius: 14.23px;
  }
  .right-text h5 {
    font-size: 7.12px;
  }
  .right-text h1 {
    font-size: 22.77px;
    height: 33px;
    display: flex;
    align-items: center;
    width: 186px;
  }
  .right-text p {
    font-size: 9.49px;
    width: 262px;
    height: fit-content;
  }
  .right-button {
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
  }
  .right-button img {
    height: 5.82px;
  }
  .right-button button {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 8.18px;
    height: 30px;
    width: 120px;
  }
  .right-buy {
    width: 74.97px;
    height: 74.97px;
  }
  .right-buy button {
    padding: 25px 24px;
    font-size: 9.49px;
  }
  .top-one {
    border: 3px solid #818181;
    height: 100%;
    width: 150.62px;
  }
  .one-img,
  .two-img {
    height: 79.23px;
    width: 129.45px;
  }
  .one-text,
  .two-text {
    padding-left: 8px;
  }
  .one-text h5,
  .two-text h5 {
    font-size: 7px;
  }
  .one-text h1,
  .two-text h1 {
    font-size: 18px;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
  }
  .one-text p,
  .two-text p {
    width: 130px;
    font-size: 9px;
  }
  .one-button {
    margin-top: 0px;
  }
  .one-button button {
    gap: 1px;
        padding: 2px 3px;
        border-radius: 8.18px;
        font-size: 8px;
        margin-top: 3px;
        height: 20px;
        width: 90px;
  }
  .one-button img {
    height: 9px;
    margin-left: 2px;
  }
  .one-buy {
    position: absolute;
    right: 7px;
    top: 30%;
    width: 37.94px;
    height: 37.94px;
  }
  .one-buy button {
    padding: 10px 10px;
    font-size: 4.8px;
  }
  .two-img {
    margin: 0px 0px;
  }
  .top-two {
    border: 3px solid #818181;
    width: 150.42px;
    height: 100%;
  }
  .two-text {
    margin-top: 0px;
  }
  .left-bottom {
    border: 3px solid #818181;
    width: 370.71px;
    height: 102.86px;
    margin-left: 30px;
    padding: 20px;
  }
  .bottom-text {
    padding-top: 15px;
  }
  .bottom-text h5 {
    font-size: 6.43px;
  }
  .bottom-text h1 {
    font-size: 17.14px;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
  }
  .bottom-text p {
    font-size: 6.57px;
  }
  .bottom-text .one-button {
    margin-top: 1px;
  }
  .bottom-img {
    width: 119.57px;
    height: 88.29px;
  }
  .bottom-img img {
    border-radius: 12.86px;
  }
  .bottom-buy {
    position: absolute;
    bottom: 7%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43.71px;
    width: 43.71px;
  }
  .bottom-buy button {
    padding: 10px 10px;
    font-size: 5.53px;
  }
  .shopbutton {
    display: none;
  }
  #pgButton-4 h1{
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shopnow-container {
    width: 100%;
    height: fit-content;
  }


  .shopnow-container h1 {
    font-size: 70px;
  }
  .shopnow-content {
    flex-direction: column-reverse;
    gap: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .shopnow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    width: 100vw;
  }
  .left-top {
    width: 90%;
    justify-content: space-between;
  }

  .left-bottom{
    width: 90%;
    padding: 10px;
  }

  .top-one,.top-two{
    height: 100%;
  }

  .left-top h1,
  .left-bottom h1 {
    height: fit-content;
  }
  .shopnow-right {
    border: 3px solid #818181;
    width: 80%;
    height: 80%px;
    margin-left: 52px;
  }
  .right-img {
    margin-left: 20px;
    margin-top: 10px;
    padding: 0px;
    width: 90%;
    height: 50%;
  }
  .right-img img {
    height: 98%;
    border-radius: 34.23px;
  }
  .right-text {
    margin-top: 20px;
  }
  .right-text h5 {
    font-size: 27.12px;
  }
  .right-text h1 {
    font-size: 52.77px;
    height: fit-content;
  }
  .right-text p {
    font-size: 19.49px;
    width: 85%;
    margin-top: 15px;
  }
  .right-button {
    margin-top: 30px;
    gap: 3px;
    height: fit-content;
    width: fit-content;
  }
  .right-button img {
    height: 25.82px;
  }
  .right-button button {
    padding: 12px 15px;
    font-size: 15px;
    border-radius: 38.18px;
  }
  .right-buy {
    right: 30px;
  }
  .right-buy button {
    padding: 30px 30px;
    font-size: 29.49px;
  }
  .shopbutton {
    display: none;
  }
}

/* page5 */

#page5 {
  margin-top: 60px;
  /* height: 110vh; */
  overflow: hidden;
  /* background-color: red; */
}

#page5Heading {
  color: white;
  font-size: 70px;
  font-family: HNTBold;
  font-weight: 500;
  border-bottom: 2px solid gray;
  display: inline-block;
}

/* .mySwiper-5{
  box-shadow: inset -30px 0 1px -10px rgba(255, 61, 61, 0.5);
  background-color: aqua;
  z-index: 2;
} */

.swiper-wrapper-5 {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 92vw;
  /* background-color: red; */
}

.swiper-slide-5 {
  color: #fff;
  /* width: 10px; */
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
  background-color: #151515;
}

.swiperImgContainer-5 {
  height: 250px;
  width: 93%;
  /* background-color: red; */
  /* border: 5px solid rgba(107, 107, 107, 0.6); */
  padding: 20px 10px 20px 10px;
  overflow: hidden;
  height: 55%;
}

.swiper-slide-5 .swiperImgContainer-5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 30px;
}

.swiperTextContainer-5 {
  margin-top: 10px;
  height: 45%;
  width: 90%;
  color: #fff;
  left: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 14px;
  /* background-color: aqua; */
}

.swiperTextContainer-5 .date {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 200;
}

.swiperTextContainer-5 h4 {
  font-family: HNTBold;
  font-size: 19px;
  font-weight: 700;
}

.swiperTextContainer-5 .desc {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 200;
  width: 90%;
}

.swiperTextContainer-5 h6 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a8ff00;
}

#pg5scrollBar .swiper-scrollbar {
  background-color: #5c5c5c;
  height: 10px;
  width: 70%;
  position: relative;
  transform: translateX(20%);
  margin-bottom: 50px;
}

#pg5scrollBar .swiper-scrollbar-drag {
  background-color: #a8ff00;
  width: 30px;
}

/* page6 */

.learn-container {
  width: 100vw;
  /* height: 1117px; */
  display: flex;
  flex-direction: column;
}
.learn {
  background-image: url("./nvidia hackathon/gen-ai-solution-bb460_420-p@2x.jpg");
  width: 100vw;
  height: 786px;
  display: flex;
  justify-content: space-around;
}
.learn-header {
  padding: 70px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.learn-header h1 {
  font-size: 86px;
  font-weight: 700;
}
.learn-header span {
  color: chartreuse;
}
.paragraph {
  height: 142px;
  width: 598px;
  font-size: 45px;
  font-weight: 700;
}
.button {
  height: 148px;
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-header button {
  background-color: #a8ff00b2;
  border: none;
  cursor: pointer;
  border-radius: 22px;
  font-size: 52px;
  font-weight: 800;
  color: white;
  padding: 25px 40px;
}
.learn-img {
  flex: 2;
  width: 680px;
  height: 733px;
}
.learn-img img {
  width: 100%;
  height: 100%;
}
.phone-img {
  display: none;
}
.last-section {
  display: flex;
  justify-content: space-around;
}
.products {
  display: flex;
  flex-direction: column;
}
.headings {
  border-bottom: 2px solid #535353;
  color: #a8ff00;
  width: 800px;
  margin-left: 20px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lists {
  margin-left: 25px;
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
.lists ul li {
  cursor: pointer;
  list-style: none;
  font-size: 15px;
  color: #c6c6c6;
}
.lists ul li:hover {
  color: white;
}
.signup {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  line-height: 1;
}
.signup span {
  color: chartreuse;
}
.signup button {
  border-radius: 15px;
  cursor: pointer;
  border: none;
  background-color: #a8ff00b2;
  color: white;
  font-size: 25px;
  padding: 20px 20px;
  margin-top: 13px;
}
footer {
  padding: 20px;
  margin-top: 10px;
  border-top: 2px solid #535353;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #a7a7a7;
}
.right ul {
  list-style: none;
  display: flex;
  padding-right: 20px;
  gap: 20px;
}
.right ul li,
.left {
  cursor: pointer;
}
.right ul li:hover,
.left:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .learn {
    width: 430px;
    height: 394.36px;
    display: flex;
    justify-content: space-between;
  }
  .learn-header {
    width: fit-content;
    padding: 30px 10px;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .learn-header h1 {
    margin-top: 20px;
    font-size: 33.82px;
    width: 250px;
    font-weight: 700;
    padding: 0px 0px;
  }
  .paragraph {
    height: 50px;
    width: 211px;
    font-size: 16.91px;
    font-weight: 700;
    padding: 0px 0px;
    line-height: 24.86px;
  }
  .button {
    width: 176.5px;
    height: 52.14px;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .learn-header button {
    background-color: #a8ff00b2;
    border: none;
    cursor: pointer;
    border-radius: 7.75px;
    font-size: 16.91px;
    font-weight: 900;
    color: white;
    padding: 5px 10px;
  }
  .laptop-img {
    display: none;
  }
  .phone-img {
    display: flex;
  }
  .learn-img {
    width: fit-content;
    height: fit-content;
    object-fit: contain;
  }
  .learn-img img {
    width: 100%;
    height: 367.77px;
  }
  .last-section {
    width: 430px;
    flex-direction: column-reverse;
  }
  .signup h1 {
    font-size: 21.38px;
  }
  .signup #button {
    margin-top: 10px;
    width: 121.61px;
    height: 37.42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup button {
    background-color: #a8ff00b2;
    border-radius: 6.24px;
    color: white;
    font-size: 16.04px;
    padding: 7px 10px;
  }
  .headings {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    margin-top: 20px;
    justify-content: space-around;
  }
  .headings h1 {
    font-size: 14.07px;
  }
  .lists {
    margin-left: 0px;
    justify-content: space-evenly;
    gap: 30px;
  }
  .lists ul li {
    font-size: 7.04px;
  }
  footer {
    width: 430px;
    font-size: 4.29px;
    color: #a7a7a7;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .learn {
    height: 586px;
  }
  .learn-header {
    width: 70%;
    /* margin-top: 0px; */
    margin-left: 20px;
    padding: 30px 10px;
  }
  .learn-header h1 {
    font-size: 50px;
  }
  .paragraph {
    font-size: 30px;
    width: 300px;
  }
  .learn-img {
    width: 30%;
    height: 533px;
  }
  .button {
    height: fit-content;
    width: fit-content;
  }
  .learn-header button {
    background-color: #a8ff00b2;
    border: none;
    cursor: pointer;
    border-radius: 22px;
    font-size: 35px;
    font-weight: 900;
    color: white;
    padding: 20px 20px;
  }
  .last-section {
    width: 100vw;
    flex-direction: column-reverse;
  }
  .headings,
  .lists {
    margin-left: 0px;
    width: 100%;
    justify-content: space-around;
  }
}

/* media */

@media screen and (max-width: 1450px) {
  .pgContainer {
    width: 1400px;
    padding: 0px 50px 0px 60px;
    margin: 0px auto;

    /* margin: auto; */
  }
}

@media screen and (max-width: 1400px) {
  .pgContainer {
    width: 1200px;
    /* background-color: aqua; */
  }
  .cardHeading {
    /* font-family: HNTBold;
    position: absolute;
    top: 70px;
    z-index: 1;
    left: 40px; */
    font-size: 27.5px;
    margin-top: -2px;
  }
  .cardContainer {
    /* margin-top: 30px;
    display: grid;
    color: white;
    grid-template-columns: repeat(11, 1fr); */
    grid-template-rows: repeat(5, 75px);
    /* height: calc(100vh - 135px); */
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    gap: 30px;
  }

  #cardItem-3 {
    /* grid-column-start: 7; */
    /* grid-column: 7/12; */
    /* grid-row-start: 1; */
    /* grid-row: 1/6; */
    border: 5px solid gray;
    /* border-radius: 30px;
    display: flex;
    flex-direction: column; */
    /* gap: 20px; */
    /* padding-left: 40px;
    padding-top: 20px; */
  }

  #cardImg-3 {
    /* width: 90%; */
    height: 70%;
    /* position: absolute;
    top: 170px; */
    right: 30px;
    /* position: relative;
    right: 12px; */
  }

  /* #cardSubheading-3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #7d7d7d;
    letter-spacing: 0.7px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
    margin-top: 22px;
  } */

  #cardHeading-3 {
    /* font-family: HNTBold; */
    /* position: absolute;
    top: 60px;
    left: 40px; */
    /* z-index: 1; */
    /* margin-top: 5px; */
    font-size: 27.5px;
  }

  #cardText-3 {
    /* font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #afafaf;
    width: 85%; */
    /* position: absolute;
    top: 110px;
    left: 40px; */
    /* margin-top: 12px;
    letter-spacing: 0.7px; */
    font-size: 14px;
  }

  #cardButton-3 {
    /* height: 30px;
    width: 100px;
    background-color: #a8ff0080;
    border-radius: 38px;
    outline: none;
    border: none;
    color: white; */
    /* position: absolute;
    top:185px;
    left: 40px; */
    /* font-family: "Inter", sans-serif; */
    margin-top: 15px;
    /* font-weight: 500;
    letter-spacing: 0.55px; */
  }
}

@media screen and (max-width: 1200px) {
  .pgContainer {
    width: 992px;
    padding: 0px 50px 0px 60px;
    margin: 0px auto;
  }

  .cardHeading {
    /* font-family: HNTBold;
    position: absolute;
    top: 70px;
    z-index: 1;
    left: 40px; */
    font-size: 25.5px;
    margin-top: -2px;
  }

  .cardContainer {
    /* margin-top: 30px;
    display: grid;
    color: white;
    grid-template-columns: repeat(11, 1fr); */
    grid-template-rows: repeat(5, 55px);
    /* height: calc(100vh - 135px); */
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    gap: 30px;
  }

  .cardSubheading {
    /* font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #7d7d7d;
    letter-spacing: 0.7px; */
    /* position: absolute; */
    top: 20px;
    /* z-index: 1; */
    left: 20px;
  }

  .cardHeading {
    /* font-family: HNTBold;
    position: absolute; */
    top: 40px;
    z-index: 1;
    left: 20px;
    font-size: 25.5px;
  }

  #cardItem-3 {
    /* grid-column-start: 7; */
    /* grid-column: 7/12; */
    /* grid-row-start: 1; */
    /* grid-row: 1/6; */
    border: 5px solid gray;
    /* border-radius: 30px;
    display: flex;
    flex-direction: column; */
    /* gap: 20px; */
    padding-left: 20px;
    padding-top: 0px;
  }

  #cardImg-3 {
    width: 90%;
    height: 65%;
    position: absolute;
    top: 165px;
    right: 30px;
    /* position: relative;
    right: 12px; */
  }

  #cardSubheading-3 {
    /* font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #7d7d7d;
    letter-spacing: 0.7px; */
    /* position: absolute;
    top: 40px;
    left: 40px; */
    z-index: 1;
    margin-top: 15px;
  }

  #cardHeading-3 {
    /* font-family: HNTBold; */
    /* position: relative;
    bottom: 25px; */
    /* z-index: 1;
    margin-top: 5px; */
    font-size: 25.5px;
  }

  #cardText-3 {
    /* font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #afafaf; */
    width: 90%;
    /* position: absolute;
    top: 110px;
    left: 40px; */
    margin-top: 9px;
    /* letter-spacing: 0.7px; */
    font-size: 12.5px;
  }

  #cardButton-3 {
    /* height: 30px;
    width: 100px;
    background-color: #a8ff0080;
    border-radius: 38px;
    outline: none;
    border: none;
    color: white; */
    /* position: absolute;
    top:185px;
    left: 40px; */
    /* font-family: "Inter", sans-serif; */
    margin-top: 11px;
    /* font-weight: 500;
    letter-spacing: 0.55px; */
  }

  .swiper-slide-5 {
    /* color: #fff; */
    /* width: 10px; */
    height: 550px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #151515; */
  }
}

@media screen and (max-width: 992px) {
  .pgContainer {
    width: 768px;
    padding: 0px 50px 0px 60px;
    margin: 0px auto;
  }

  .mySwiper-3 {
    width: 100vw;
  }

  .cardContainer {
    display: none;
  }

  #pgButton-3 {
    margin: 30px auto 0px;
  }

  .cardContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
  }

  #cardItem-3 {
    height: 600px;
    padding-top: 30px;
    padding-left: 50px;
  }

  #cardSubheading-3 {
    font-size: 15px;
    font-weight: 400;
  }

  #cardHeading-3 {
    color: #fff;
    font-size: 40px;
  }

  #cardText-3 {
    font-size: 17px;
  }

  #cardButton-3 {
    margin-top: 20px;
  }

  #cardImg-3 {
    top: 200px;
    height: 70%;
  }

  .card1and2 {
    display: flex;
    gap: 20px;
  }

  .cardSubheading {
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 20px;
  }

  .cardHeading {
    color: #fff;
    font-size: 38px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .pgContainer {
    width: 650px;
    margin: 0px auto;
  }

  #cardImg-3 {
    top: 230px;
    height: 65%;
  }

  #cardButton-3 {
    margin-top: 25px;
  }

  .cardSubheading {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 7px;
  }

  .cardHeading {
    color: #fff;
    font-size: 33px;
    margin-top: 3px;
    margin-left: 7px;
  }
}

@media screen and (max-width: 650px) {
  .pgContainer {
    width: 570px;
    /* margin: 0px 0px ; */
  }

  #page2Heading {
    font-size: 55px;
  }

  #cardItem-3 {
    height: 500px;
    padding-top: 10px;
    padding-left: 20px;
  }

  #cardImg-3 {
    top: 230px;
    height: 60%;
  }

  .cardSubheading {
    font-size: 11px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 5px;
  }

  .cardHeading {
    color: #fff;
    font-size: 25px;
    margin-top: 3px;
    margin-left: 5px;
  }

  #pgButton-3 {
    /* height: 50px; */
    width: 180px;
    /* background-color: #a8ff0080;
    border-radius: 38px;
    outline: none;
    border: none;
    color: white; */
    /* position: absolute;
    top:185px;
    left: 40px; */
    /* margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; */
    /* float: right; */
    /* margin-right: 20px; */
    margin: 30px auto 0px;
  }

  #pgButton-3 h1 {
    /* font-weight: 800;
    letter-spacing: 0.55px; */
    font-size: 26px;
    /* font-family: HNTBold;
    text-transform: uppercase;
    text-align: center; */
  }

  #pgButton-3 img {
    width: 22px;
    height: 26px;
  }

  #page3Heading {
    /* color: white; */
    font-size: 55px;
    /* font-family: HNTBold;
    font-weight: 500;
    border-bottom: 2px solid gray;
    display: inline-block; */
  }

  #page5Heading {
    font-size: 55px;
  }

  .mySwiper-3 {
    width: 100vw;
  }

  .cardContainer2 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin-top: 35px;
    /* gap: 30px; */
  }
}

@media screen and (max-width: 550px) {
  .pgContainer {
    width: 500px;
    /* margin: 0px; */
    /* background-color: red; */
    padding-left: 20px;
    padding-right: 10px;
  }

  #cardItem-3 {
    height: 500px;
    padding-top: 10px;
    padding-left: 30px;
  }

  #cardSubheading-3 {
    font-size: 14px;
    font-weight: 400;
  }

  #cardHeading-3 {
    color: #fff;
    font-size: 30px;
  }

  #cardText-3 {
    font-size: 14px;
  }

  #cardButton-3 {
    margin-top: 20px;
  }

  #cardImg-3 {
    top: 180px;
    height: 70%;
  }

  .mySwiper-3 {
    width: 100vw;
    position: relative;
    left: 0.2px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 500px) {
  .pgContainer {
    width: 450px;
    /* margin: 0px; */
    /* background-color: red; */
    /* padding-left: 20px;
    padding-right: 10px; */
  }

  #cardImg-3 {
    top: 180px;
    height: 65%;
  }

  #cardItem-3 {
    height: 450px;
    padding-top: 10px;
    padding-left: 30px;
  }

  #cardSubheading-3 {
    font-size: 12px;
    /* font-weight: 400; */
  }

  .cardSubheading {
    font-size: 10px;
    font-weight: 600;
    /* margin-top: 5px; */
    margin-left: 2px;
  }

  .cardHeading {
    /* color: #fff; */
    font-size: 24px;
    margin-top: 1px;
    margin-left: 2px;
  }
}

@media screen and (max-width: 450px) {
  .pgContainer {
    width: 420px;
  }

  .cardSubheading {
    /* font-size: 10px;
    font-weight: 600; */
    margin-top: 0px;
    margin-left: -6px;
  }

  .cardHeading {
    /* color: #fff; */
    /* font-size: 24px; */
    margin-top: -3px;
    margin-left: -6px;
  }

  #page3Heading {
    /* color: white; */
    font-size: 50px;
    /* font-family: HNTBold;
    font-weight: 500;
    border-bottom: 2px solid gray;
    display: inline-block; */
  }

  #page5Heading {
    font-size: 50px;
  }

  .swiper-wrapper-3 {
    position: relative;
    right: 15px;
  }
}

@media screen and (max-width: 420px) {
  .pgContainer {
    width: 360px;
    margin-left: 0px;
    padding-left: 15px;
  }

  .cardSubheading {
    font-size: 8px;
    font-weight: 800;
    /* margin-top: 0px; */
    margin-left: -8px;
  }

  .cardHeading {
    /* color: #fff; */
    font-size: 18px;
    margin-top: -6px;
    margin-left: -9px;
  }

  #page2Heading {
    font-size: 43px;
  }
  #page3Heading {
    /* color: white; */
    font-size: 43px;
    /* font-family: HNTBold;
    font-weight: 500;
    border-bottom: 2px solid gray;
    display: inline-block; */
  }

  #page5Heading {
    font-size: 43px;
  }

  .swiper-wrapper-3 {
    position: relative;
    right: 15px;
  }
}
